.blog img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  /* aspect-ratio: 16/9; */
  aspect-ratio: 3/2 auto;
}

.posts .card > img {
    max-inline-size: var(--max-img-width, 100%);
    block-size: auto;
    aspect-ratio: 3/2 auto;
    object-fit: cover;
}