body > footer {
    background: var(--color-dark);
    color: var(--color-light);
    font-size: var(--font-size-fluid-0);
}

body > footer > grid-container[data-layout="full-bleed"] {
    --background-color: var(--color-dark);
}

grid-container[data-layout='footer'] {
    --grid-layout-columns: 2fr 1fr 1fr;
    --external-link: url("/images/svg/external-link-light.svg");
    padding: var(--gutter);
}

site-footer {
    --external-link: url("/images/svg/external-link-light.svg");
    padding: var(--gutter);
    background: var(--color-dark);
    color: var(--color-light);
    font-size: var(--font-size-fluid-0);
    /* margin-inline: auto; */
}

.site-foot__inner {
    display: flex;
    gap: var(--size-fluid-1);
}

:not(nav#social).site-foot__inner {
    /* flex-wrap: wrap; */
}

grid-container[data-layout='footer'] * {
    color: var(--color-light);
}

grid-container[data-layout='footer'] a {
    text-decoration: none;
}

grid-container[data-layout='footer'] a:hover {
    text-decoration: underline solid var(--color-primary) 2px;
    text-underline-offset: 0.25em;
}