<be-wrapper data-layout="xl">
    <grid-container data-layout="features">
        <header class="">
            <hgroup>
                <h2>Features</h2>
                <p>Component to display text and image.</p>
            </hgroup>
        </header>
        <be-grid-item>
            <p>Featured image can go either left or right.</p>
        </be-grid-item>
        <be-grid-item>
            <img src="https://placehold.co/778x438?text=Hello+Ruby">
        </be-grid-item>
    </grid-container>
</be-wrapper>